.bodyDelete {
  padding: 20px 10px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.4;
}
.cancelBtn,
.confirmBtn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  min-width: 110px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
.cancelBtn {
  color: white;
}

.cancelBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.confirmBtn {
  color: white;
}

.confirmBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* تحسين تأثير الدخول */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
